body {
	background: LightGray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}

div {
	display: block;
	border: 1px solid Chocolate;
}

/***** NAVIGATION BAR *****/

.top-bar {
	background-color: #FFF;
	/* position: fixed; */
	width: 100%;
	border-bottom: 1px solid #DDD;
	z-index: 9999;
}

.top-bar > .content {
	height: 4.375rem;
	margin: 0 auto;
}

.content {
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}

.top-bar .links {
	color: #838994;
font-size: 1.04rem;
margin-top: 1.7rem;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}
